*{
  
  position: relative;
  margin: 0;padding: 0;box-sizing: border-box;
}
:root{
  background-image: url(../public/image/323862-nature-rain-weather-skies.jpg);
  /* background-repeat: no-repeat; */
  background-size: 100% 100% 100% 100%;
}
.main-container{ 

  display: grid;
  justify-content: center;
  align-items: center;
 
}
.A{
 margin:5vh auto;
 
}
#input{
  height: 5vh;
 border-collapse: collaps;
  width: 20vw;
  padding: 10px;
  border-radius: 8px;
 
}
button{
  height: 5.3vh;  
  border-radius: 8px;
  padding: 10px; 
}
.icon{
 
  font-size: 100px;
}
i{
  font-size: 50px;
}
.data-container{
  margin-top: 5vh;
  height: 50vh;
  width: 40vw;
  background-color: aliceblue;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.weathermood{
  background-color: aliceblue;
  height: 10vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.temperature-city-time{
  height: 20vh;
  width: 40vw;
  display: grid;
  align-items: center;
  justify-content: center; 
  grid-template-columns: 1fr 1fr 1fr 30px;
  color: aliceblue;
  background-color: black;
  border-radius: 10px;
}
.time{
  height: 10vh;
  grid-column: 3;
  background-color: green;
  display: grid;
  align-items: center;
  justify-content: center; 
  border-radius: 10px;
}
.temperature{
  display: grid;
  justify-content: center;
  
}

.weather-data{

  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1f 1fr  ;
align-content: center;
  align-items: center;
  text-align: center;
}

.sunset{
  grid-column: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 30px;
}
.humidity{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 2;
  padding-left: 20px;
}
.Pressure{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 3;
  padding-left: 20px;
}
.wind{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 4;
  padding-left: 20px;
}
.footer{
  color: aliceblue;
  display: grid;
  justify-content: center;
 margin-top: 23vh;
}
@media (max-width:670px) {
  .main-container{
      display:flex ;
      flex-direction: column;

  }
  .data-container{
      display:flex ;
      flex-direction: column;
      height: 95vh;

  }
  #mood{
      display: flex;
      justify-content: center;
      padding-top: 2vh; 
   }
  .temperature{
      display: flex;
      justify-content: center; 
      padding-top: 2vh;
  }
  
  .temperature-city-time{
      height: 25vh;
      display:flex ;
      flex-direction: column;
      margin-top: 3vh;

  }
  .weather-data{
      display:flex ;
      flex-direction: column;
    flex-wrap: wrap;
 
  }
}
